POSTGRES_DB=callao_db
POSTGRES_USER=callao_user
POSTGRES_PASSWORD=callao_pass

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/callao_db
SPRING_DATASOURCE_USERNAME=callao_user
SPRING_DATASOURCE_PASSWORD=callao_pass
APP_CORS_ALLOWED_ORIGINS=http://localhost:4200
